* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', sans-serif;
}

.card{
    width: 400px;
    margin: auto;
}

.Calen{
    text-align: center;
    color: #fff;
}

.Calen p{
    font-weight: 300;
}

.Year{
    background-color: #ef5320;
    padding: 2px 0;
}


.Date{
    background-color: #fe6d40;
    padding: 32px 0;
}

.Date h2{
    font-size: 50px;
    font-weight: 500;
}