* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', sans-serif;
}

.card{
    width: 400px;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid #ddd8d8;
    box-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -4px #0000001a!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.Calen{
    text-align: center;
    color: #fff;
    border: 1px solid #fe6d40;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.Calen p{
    font-weight: 300;
}

.Year{
    background-color: #ef5320;
    padding: 2px 0;
}


.Date{
    background-color: #fe6d40;
    padding: 32px 0;
}

.Date h2{
    font-size: 50px;
    font-weight: 500;
}

.content{
    padding: 10px;
    margin-top: 10px;
    line-height: 1.6rem;
}

.Title{
    font-weight: 400;
    
}

.content ul{
    margin-top: 20px;
    border-bottom: 1px solid #cacaca;
}

.content li{
    list-style: none;
    margin-bottom: 4px;
    color: #808185;
}

.content i {
    margin-right: 10px;
}

.content>p{
    color: #808185;
}

.content a{
    text-decoration: none;
    margin-top: 15px;
    color: #3c78e7;
    font-size: 20px;
}

.register{
    padding-top: 15px;
}