.ps-main .search{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

.ps-main .search h3{
    font-size: 45px;
    font-weight: 700;
    color: #8b0d0dc7;
}

.ps-product__detail{
    padding-top: 30px;
}

.ps-product__detail .ps-product__thumbnail{
    position: relative;
    flex-flow: row nowrap;
    display: flex;
    float: left;
    width: calc(100%-444px);
}

.ps-product__preview{
    min-width: 106px;
    width: 106px;
    padding-right: 20px;
}

.ps-product__preview .item{
    width: 66px;
    margin: 10px;
    border: 3px solid #e5e5e5;
    transition: all 0.4s ease;
}

.image-full{
    position: relative;
    transition: opacity .3s ease-out;
    overflow: hidden;
    display: block;
}

.ps-product__image{
    width: calc(100%-106px);
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ps-product__detail .ps-product__info{
    /* min-width: 444px; */
    /* width: 444px;
    float: left;  */
    padding-left: 30px;
}

.ps-product__detail .ps-product__info h1{
    font-size: 30px;
    font-weight: 700;
    color: #313131;
    text-transform: uppercase;
    margin: 5px 0 10px 0;
}

.ps-product__detail p{
    font-size: 18px;
    color: #5b5b5b;
} 

strong{
    font-weight: bold;
}

.ps-product__detail .ps-product__price{
    margin: 5px 0;
    font-size: 24px;
    color: #fb0000;
    font-weight: bold;
}

.ps-product__detail .ps-product__price del{
    margin-left: 5px;
    font-size: 24px;
    color: #bcbcbc;
}

.size-color{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 0;
    margin: 15px 0;
    box-shadow: inset 0 0 0 2px #fff;
}

ul.wapper_cb{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.wapper_cb>li.cb{
    margin-right: 20px;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1);;
    border-radius: 5px;
    margin-bottom: 10px;
}

.number_price>.custom{
    display: inline-block;
}

.custom button.items-count{
    background-color: #f5f5f5;
    float: left;
    border: 1px #e1e1e1 solid;
    transition: color 100ms ease-in-out 0s, background-color 100ms ease-in-out 0s, background-position 100ms ease-in-out 0s;
    color: #999;
    padding: 10px;
    line-height: 18px;
    height: 60px;
    width: 45px;
    cursor: pointer;
    font-size: 24px;
}

input#quantity{
    margin: 0;
    border-radius: 0;
    border-color: #e1e1e1;
}

.quantity{
    padding: 0 5px 1px;
    height: 60px;
    border: 1px #ddd solid;
    text-align: center;
    width: 50px;
    float: left;
    color: #aaa;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 24px;
    border-right: 0px !important;
    border-left: 0px !important;
    margin: 0 5px;
}

button.increase.items-count{
    line-height: 19px;
}

.ps-btn{
    position: relative;
    padding: 15px 25px 13px 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    line-height: 25px;
    border: none;
    border-radius: 60px;
    transition: all 0.4s ease;
    font-weight: bold;
}

.block-phone a{
    font-size: 22px;
    font-weight: bold;
    color: red;
}

.ps-main .tab-content-info{
    margin: 50px 0;
}


.ps-main .tab-content .tab-pane{
    font-size: 16px;
}

.ps-main .tab-content p{
    font-size: 18px;
    color: #5b5b5b;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (max-width: 800px) and (max-width: 480px) {
    .ps-product__detail .ps-product__thumbnail{
        position: relative;
    flex-flow: column-reverse;
    display: flex;
    float: left;
    width: calc(100%-444px);
    }

    .ps-product__preview {
        width: 100%;
    }

    .ps-product__preview .item{
        display: inline-block;
        width: 50px;
        margin: 10px;
        border: 3px solid #e5e5e5;
        transition: all 0.4s ease;
        width: 45px;
    }

    .custom button.items-count{
        height: 40px;
        width: 28px;
        font-size: 15px;
    }

    .quantity {
        height: 40px;
        width: 25px;
        font-size: 20px;
    }

    #btn-add-to-cart, #btn-buy-now {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .ps-product__detail .ps-product__info h1{
        font-size: 20px;
    }

    .ps-product__detail p {
        font-size: 15px;
        color: #5b5b5b;
    }

    #newPrice, .oldPrice {
        font-size: 22px;
    }

    #btn-add-to-cart, #btn-buy-now {
        font-size: 10px;
    }
}