.ps-content{
    padding-bottom: 30px;
    padding-top: 30px;
}

.cartPage{
    max-width: 100%;
    width: 650px;
    margin: 0 auto;
    font-family: arial;
    font-size: 13px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
}

.ps-post__header{
    margin-bottom: 20px;
}

.cartPage .ps-post__header .ps-post__title{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
}

.ps-post__header .ps-post__title{
    font-size: 26px;
    font-weight: 700;
    color: #5b5b5b;
    text-transform: uppercase;
    margin: 0;
}

.cartPage .itemCart .infoCart{
    position: relative;
}

.infoCart .image{
    width: 25%;
    float: left;
    text-align: center;
}

.infoCart .image a{
    display: block;
}

.infoCart .image image{
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.infoCart .numberPrice{
    width: 75%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    padding-right: 60px;
    position: relative;
}

.itemCart .title a{
    text-decoration: none;
    font-size: 16px;
}

.itemCart .title h3{
    margin: 0;
    font-size: 20px;
    color: #333;
    line-height: 1.5em;
    text-transform: capitalize;
    font-weight: bold;
}

.attribute_pro{
    display: flex;
}

.infoCart .attribute_pro>span{
    display: inline-block;
    font-size: .9rem;
    padding: 5px 10px;
    background: #ffd600 !important;
    color: #000000;
}

.badge{
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.number{
    font-size: 16px;
}

.form-group__number{
    display: inline-block;
    height: 35px;
}

.form-group__number button.minus{
    float: left;
}

.form-group__number button{
    display: inline-block;
    height: 100%;
    width: 40px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    transition: all 0.4s ease;
    border-radius: 0px;
    border: 1px solid #ccc;
}

.form-group__number input.form-control{
    position: relative;
    top: 0;
    display: inline-block;
    width: 50px;
    padding: 0;
    height: 100%;
    border: 0px;
    float: left;
    border-radius: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #000000;
    text-shadow: 2px 0px 5px rgb(0 0 0 / 20%);
    font-weight: bold;
}

.number span.textPrice{
    font-size: 16px;
}

.textPrice{
    color: red;
    font-weight: bold;
}

.total_Price, .sumPrice{
    font-size: 16px;
    margin: 10px 0 0 0;
    font-weight: bold;
    color: #737373;
}

.btnCart{
    margin: 10px 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

button.btnClick.btnDel{
    background-color: #ff0000;
    color: #fff;
}

button.btnClick{
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #f1f1f1;
    line-height: 1rem;
}

.cartPage .itemCart.sumItemCart{
    padding: 0 0 20px 0;
    font-size: 16px;
    text-align: right;
    border-bottom: 0;
}

.cartPage .itemCart{
    /* border-bottom: solid 1px #f1f1f1; */
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
}

.infoSum{
    float: left;
    line-height: 50px;
}

.itemCart .buyNext{
    margin-right: 1.5rem;
}

.itemCart .infoCart .Cart-item {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.ps-btn:first-child{
    margin-left: 0;
}

.ps-btn{
    margin-bottom: 30px;
    padding: 15px 25px 13px 20px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    background-color: #fed700;
    line-height: 25px;
    border: none;
    border-radius: 60px;
    transition: all 0.4s ease;
    font-weight: bold;
}

.ps-cart-listing .ps-cart__actions{
    padding-top: 55px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-flow: row nowrap;
}

.ps-cart-listing .ps-cart__actions .ps-cart__promotion{
    width: 100%;
    display: block;
}

.cartPage .ps-contact__block{
    padding: 15px 0;
    background-color: transparent;
}

@media (max-width: 480px) {
    .form-group__number button{
        width: 20px;
    }

    .form-group__number input.form-control {
        width: 15px;
    }

    .infoCart .image {
        width: 50%;
    }

    .infoCart .numberPrice{
        width: 50%;
    }

    button.btnClick {
        width: 45px;
        height: 45px;
    }
    .itemCart .title h3 {
        font-size: 15px;
    }

    .infoCart .attribute_pro>span {
        font-size: 10px;
    }

    p {
        font-size: 11px;
    }

    .number span.textPrice{
        font-size: 15px;
    }

    .ps-btn {
        padding: 5px 10px 5px 10px;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0;
    }
}

@media (max-width: 320px) {
    .infoCart .image {
        width: 100%;
    }

    .infoCart .numberPrice{
        width: 100%;
    }

    .ps-btn {
        padding: 5px 10px 5px 10px;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0;
    }
    .cartPage .itemCart.sumItemCart div:last-child{
        display: block!important;
    }
}